* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
}

a {
  color: #333333;
  text-decoration: none;
}

.App {
  border-left: 1px solid #DDDDDD;
  border-right: 1px solid #DDDDDD;
  display: block;
  margin: auto;
  max-width: 800px;
  min-width: 320px;
  width: 100%;
}